In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [4]:
# Load the dataset from Kaggle
# Make sure to replace 'path_to_dataset' with the actual path to the dataset
data = pd.read_csv(r"C:\Users\satish prasad\Desktop\CAPSTONE PROJECT\ML PROJECT\survey lung cancer.csv")

In [5]:
# Data Preprocessing
# Assuming 'data' contains some categorical variables in addition to numeric ones
# You should replace 'categorical_columns' with the actual names of your categorical columns
categorical_columns = ['GENDER', 'LUNG_CANCER']  # Replace with actual column names
preprocessor = ColumnTransformer(transformers=[('cat', OneHotEncoder(), categorical_columns)],
                                 remainder='passthrough')

In [6]:
print("Columns in the DataFrame:", data.columns)

Columns in the DataFrame: Index(['GENDER', 'AGE', 'SMOKING', 'YELLOW_FINGERS', 'ANXIETY',
       'PEER_PRESSURE', 'CHRONIC DISEASE', 'FATIGUE ', 'ALLERGY ', 'WHEEZING',
       'ALCOHOL CONSUMING', 'COUGHING', 'SHORTNESS OF BREATH',
       'SWALLOWING DIFFICULTY', 'CHEST PAIN', 'LUNG_CANCER'],
      dtype='object')

In [10]:
 data['GENDER'] = data['GENDER'].replace({'M': 2, 'F': 1})

In [11]:
 data['LUNG_CANCER'] = data['LUNG_CANCER'].replace({'YES': 2, 'NO': 1})

In [12]:
data

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,2,69,1,2,2,1,1,2,1,2,2,2,2,2,2,2
1,2,74,2,1,1,1,2,2,2,1,1,1,2,2,2,2
2,1,59,1,1,1,2,1,2,1,2,1,2,2,1,2,1
3,2,63,2,2,2,1,1,1,1,1,2,1,1,2,2,1
4,1,63,1,2,1,1,1,1,1,2,1,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,56,1,1,1,2,2,2,1,1,2,2,2,2,1,2
305,2,70,2,1,1,1,1,2,2,2,2,2,2,1,2,2
306,2,58,2,1,1,1,1,1,2,2,2,2,1,1,2,2
307,2,67,2,1,2,1,1,2,2,1,2,2,2,1,2,2
308,2,62,1,1,1,2,1,2,2,2,2,1,1,2,1,2

In [13]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    int64
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    int64
dtypes: int64(16)
memory usage: 38.8 KB
None

In [15]:
x = data.drop("LUNG_CANCER", axis =1)
y = data["LUNG_CANCER"]
y

0      2
1      2
2      1
3      1
4      1
      ..
304    2
305    2
306    2
307    2
308    2
Name: LUNG_CANCER, Length: 309, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [19]:
x_train

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
101,1,81,1,2,2,2,2,2,2,2,1,2,2,2,2
132,1,61,2,1,1,1,2,2,2,1,1,1,2,1,1
49,2,60,1,1,2,2,2,1,1,1,2,1,1,1,1
243,2,61,1,1,2,1,2,2,1,2,2,2,2,2,1
166,1,61,1,2,1,2,1,2,1,1,1,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2,62,1,1,1,2,1,2,2,2,2,1,1,2,1
141,2,62,2,1,2,1,1,2,1,2,2,2,2,1,2
28,1,53,2,2,2,1,2,1,1,2,2,1,2,2,2
105,1,60,1,1,1,1,2,2,1,1,1,1,2,1,1
36,2,60,1,2,1,1,2,1,1,2,1,2,2,1,2

In [20]:
x_test

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
144,2,64,1,2,2,2,1,1,2,1,2,1,1,2,2
170,2,54,1,2,1,2,2,2,2,2,2,2,1,2,2
178,1,61,2,2,2,2,1,2,2,1,1,1,2,2,2
90,1,62,1,1,1,2,1,1,1,2,2,1,1,2,2
5,1,75,1,2,1,1,2,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,2,44,1,2,1,2,2,2,1,2,1,1,2,2,2
130,1,51,2,2,2,2,1,2,1,1,1,1,2,2,1
247,2,67,1,2,1,1,1,2,1,2,2,2,2,1,1
307,2,67,2,1,2,1,1,2,2,1,2,2,2,1,2
184,2,72,2,1,1,1,1,2,2,2,2,2,2,1,2

In [21]:
y_train

101    2
132    2
49     1
243    2
166    2
      ..
151    2
141    2
28     2
105    2
36     2
Name: LUNG_CANCER, Length: 247, dtype: int64

In [22]:
y_test

144    2
170    2
178    2
90     2
5      2
      ..
168    2
130    2
247    2
307    2
184    2
Name: LUNG_CANCER, Length: 62, dtype: int64

In [23]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [24]:
from sklearn import naive_bayes
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.40703619420498083

In [25]:
from sklearn import svm
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.37458724856321823